.modBar
{
    -fx-background-color: linear-gradient(to right,rgb(120, 61, 128),rgb(156,28,188));
    -fx-font-family: "Franklin Gothic Book";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.modItem .label
{
    -fx-font-family: "Franklin Gothic Book";
    -fx-font-size: 11px;
    -fx-text-fill: white;
}